.section-faq {
    display: flex;
    margin-top: 10vh;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.title-faq {
    font-size: 56px;
    font-weight: 600;
    color: black;
}

.subtitle-faq {
    margin-top: 1.5vh;
    font-size: 18px;
    color: #6c6c6c;
    font-weight: 500;
}